.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 32px 16px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span {
      font-size: clamp(20px, 3vw, 50px);
    }

    .first {
      font-weight: 200;
    }
    .last {
      font-weight: 600;
    }
  }

  .grid-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    width: 100%;
    max-width: 1200px;
  }

  app-card-services {
    width: 100%;
    max-width: 100%;
  }

  @media (max-width: 900px) {
    .grid-services {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 500px) {
    .grid-services {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
